:root {
    --primary-color: #ff2348;
    --secondary-color: #582328;
    --background-color: #242122;
    --text-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-transform: lowercase; */
    background-color: #242122;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100vw;
    min-height: 100vh;
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0px 8px 0px #750f25, 0px 12px 32px 0px #0000002f;
    width: calc(100% - 4rem);
    margin: 2rem auto;
    height: 92px;
}

header a, header img {
    height: 100%;
    padding: 0.5rem;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

header nav a {
    background-color: var(--primary-color);
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0 2em;
    transition: all 0.3s ease-in-out;
    transform: translateY(0px);
    height: 92px;
    text-align: center;
    box-shadow: 0px 0px 0px #750f25, 0px 0px 0px #0000002f;
    align-items: center;
    justify-content: center;
}

header nav a:hover {
    box-shadow: 0px 8px 0px #750f25, 0px 0px 16px #0000002f !important;
    /* color: #ffdde5; */
    background-color: #cd1238 !important;
    transform: translateY(-4px) !important;
    z-index: 2;
}

header nav a:active {
    box-shadow: 0px 8px 0px #750f25, 0px 0px 16px #0000002f !important;
    /* color: #ffdde5; */
    background-color: #c00b2f !important;
    transform: translateY(-2px) !important;
    transition: all 0.1s ease-in-out !important;
    z-index: 1;
}

header nav a.active-page {
    box-shadow: 0px 8px 0px #750f25, 0px 0px 16px #0000002f;
    /* color: #ffdde5; */
    background-color: #df143d;
    transform: translateY(-2px);
    z-index: 1;
}

main {
    /* opacity: 0; */
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    width: 60em;
    height: fit-content;
    padding-bottom: 5rem;
}

section {
    padding: 3rem;
    width: 100%;
    border-bottom: 4px dotted rgba(255, 255, 255, 0.301);
}

.btn {
    display: inline-block;
    background-color: #ff235a;
    color: #ffffff;
    box-shadow: 0px 4px 0px #750f25, 0px 4px 0px 2px #ffffff2f;
    border-left: 1px solid #ffffff4d;
    border-right: 1px solid #ffffff4d;
    border-bottom: 2px solid #ffffff4d;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    transform: translateY(-4px);
    transition: all 0.2s ease-in-out;
}

.btn i {
    color: #ffffff;
}

.btn:hover {
    background-color: #cd1238;
    box-shadow: 0px 6px 0px #750f25, 0px 6px 0px 2px #ffffff2f;
    transform: translateY(-6px);
}

.btn:active {
    background-color: #b31031;
    box-shadow: 0px 0px 0px #750f25, 0px 0px 0px 2px #ffffff2f;
    transform: translateY(0px);
    transition: all 0.05s ease-in-out;
}
/*
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #342227;
    color: #ffffff;
    border-bottom: 8px solid #25030a;
    width: calc(100% - 32rem);
    margin: 2rem auto;
    height: 100px;
}

footer p {
    padding: 0;
    margin: 0;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 1em;
}

footer .footer-links a {
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-right: 2px solid rgba(255, 255, 255, 0.301);
    transition: all 0.3s ease-in-out;
}

footer .footer-links a:last-child {
    border: none;
}

footer .footer-links a:hover {
    color: #ff4f78;
}*/

.slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em auto;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #412f35;
    box-shadow: 0px 4px 0px #2b1117, 0px 4px 0px 2px #ffffff11;
    padding: 1em;
    border-radius: 5px;
    border-bottom: 2px solid #ffffff0a;
    transition: all 0.3s ease-in-out;
    flex: 1;
    min-width: 300px;
    /* margin-bottom: 1em; */
}

.project-card .card-content {
    flex-grow: 1;
}

.project-card .card-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: 1em;
    gap: 1em;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 0px #2b1117, 0px 8px 0px 2px #ffffff11;
}

.contact-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em; /* Add some space between the buttons */
}

.contact-links a {
    display: flex; /* Use flexbox for internal alignment */
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-decoration: none;
    color: #ffffff;
    /* background-color: #ff235a; */
    /* box-shadow: 0px 6px 0px #6c0816; */
    text-align: center;
    padding: 1.5em; /* Increase padding to make it more square */
    border-radius: 5px;
    width: calc((100% / 5) - 0.8em);
    transition: all 0.2s ease-in-out;
}

.contact-links a i {
    font-size: 2em;
    text-shadow: 0px 3px 0px #96001e5a;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.contact-links a img {
    height: 2em;
    filter: drop-shadow(0px 3px 0px #96001e5a);
    margin-bottom: 0.5em;
}

.contact-links a span { /* Style for the text below the icon */
    margin-top: 0.5em; /* Space between icon and text */
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

i {
    color: #ff235a;
}

.img-icon {
    width: auto;
    height: 1em;
    vertical-align: middle;
}


.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* Carousel */

.carousel-container {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container > div {
    height: fit-content;
    width: 100%;
}

.carousel-img {
    position: relative;
    width: 100%;
    /* height: 30em; */
    aspect-ratio: 16 / 9;
    background-image: url("/assets/images/slide_0.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-image 0.2s ease;
    /* overflow: hidden; */
    /* border-radius: 5px; */
    box-shadow: 0px 6px 16px #0000002f;
    margin-bottom: 1em;
    z-index: 2;
    border-radius: 5px;
}

#carousel-crossfade {
    /* Position the crossfade element on top of the hero */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* This is the key line for the fade transition */
    transition: opacity 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    border-radius: 5px;
}

.arrow {
    color: rgb(253,248,237);
    background: none;
    background-color: #582328;
    border: none;
    border-radius: 5px;
    font-size: 3em;
    padding: 0.25em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1;
    line-height: 100%;
    box-shadow: 0px 6px 16px #0000002f;
}

.arrow i {
    color: inherit;
}

.arrow:hover {
    color: #ffffff;
}

.arrow-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 16px;
    translate: 10px 0;
}

.arrow-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 16px;
    translate: -10px 0;
}

.arrow-left:hover {
    translate: 6px 0;
    /* padding-right: calc(0.25em + 2px); */
}

.arrow-right:hover {
    translate: -6px 0;
    /* padding-left: calc(0.25em + 4px); */
}

.arrow-left:active {
    translate: 0px 0;
}

.arrow-right:active {
    translate: 0px 0;
}

.carousel-bubbles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    gap: 0.5em;
    z-index: 1;
}

.carousel-bubble {
    background-color: #e7e7e763;
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    border-radius: 100%;
    box-shadow: 0px 2px 8px #0000002f;
    transition: all 0.2s ease;
    cursor: pointer;
}

.carousel-bubble:hover {
    translate: 0 -2px;
}

.carousel-bubble-active {
    background-color: #ffdfdf;
}










footer {
    background-color: #342227;
    color: #ffffff;
    padding: 2rem;
    margin: 2rem auto; /* Centers the footer with space above and below */
    width: calc(100% - 8rem); /* Matches the width of your header */
    max-width: 1200px; /* Good practice for very large screens */
    border-radius: 5px;
    box-shadow: 0px 8px 0px #25030a; /* Consistent with your header's border */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.footer-section {
    flex: 1;
    min-width: 220px; /* Adjusted for better wrapping in a smaller container */
    margin: 1rem;
}

.footer-section h3 {
    color: #ff235a;
    margin-bottom: 1.5rem;
}

.footer-section p, .footer-section ul {
    line-height: 1.6;
}

.footer-section.links ul {
    list-style: none;
    padding: 0;
}

.footer-section.links ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.footer-section.links ul li a:hover {
    color: #ff4f78;
}

.social-links a {
    display: inline-block;
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 1.5rem;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.social-links a:last-child {
    margin-right: 0;
}

.social-links a:hover {
    color: #ff4f78;
    transform: translateY(-2px);
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}







.btn-alt {
    display: inline-block;
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn-alt:hover {
    background-color: #555;
}











/* Mobile */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: fit-content;
    }

    header nav {
        flex-direction: column;
        width: 100%;
    }

    header nav a {
        width: 100%;
    }

    header img {
        height: 100px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
        min-width: 100px;
    }

    .project-card .card-button-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .project-card .card-button-container .btn {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .arrow {
        display: none;
    }

    .contact-links a {
        width: 100%;
    }
}
